.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card {
  min-width: 200px;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
